* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: white;
  font-size: 2rem;
}

.titulo-stic {
  position: sticky;
  top: 0;
}

.titulo-de-todos {
  background: #1f53c5;
  font-family: oswald;
  color: aliceblue;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 60px;
}

h3 {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #24303c;
  text-align: center;
  border: solid #1f53c5;
}

h4 {
  color: white;
}

li {
  list-style: none;
  color: white;
  font-size: 2rem;
}

.div-inicio-nav a {
  margin-right: 30px;
  margin-left: 70px;
}
@media only screen and (min-width: 99px) {
  .div-inicio-nav a {
    margin-left: 0;
  }
}

.footer-contenedor {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgb(33, 37, 41);
}
.footer-contenedor h4 {
  padding-top: 10px;
  color: white;
  text-align: center;
}
.footer-contenedor .logo {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 50px;
}
.footer-contenedor .logo a {
  font-size: 20px;
  display: block;
}
.footer-contenedor .nav-footer {
  margin-right: 15px;
  height: 100%;
}
.footer-contenedor .nav-footer .lista-footer {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  list-style: none;
  height: 100px;
}
@media only screen and (max-width: 450px) {
  .footer-contenedor .nav-footer .lista-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
.footer-contenedor .nav-footer .lista-footer .fotito {
  width: 50px;
  padding-right: 15px;
}

.header-contenedor .nav-1 {
  font-family: oswald;
  font-size: 3rem;
  color: white;
}

.main-contenedor-index .video-index {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
.main-contenedor-index .nav-dos li {
  list-style: none;
  font-size: 3rem;
  font-size: 3rem;
  margin-top: 5%;
  font-family: oswald;
  display: flex;
  justify-content: center;
}
.main-contenedor-index .nav-dos li a {
  padding-right: 10px;
  padding-left: 10px;
  background: rgb(33, 31, 31);
  border-radius: 20px;
}
@media only screen and (max-width: 450px) {
  .main-contenedor-index .nav-dos li a {
    margin-top: 10px;
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .main-contenedor-index .nav-dos li a {
    margin-top: 10px;
    margin-bottom: 70px;
  }
}

.main-servicios p, .main-promociones .img-tarj, .main-promociones .img-promo, .main-nosotros .img5 .img-nosotros, .main-nosotros .img4 .img-nosotros, .main-nosotros .img3 .img-nosotros, .main-nosotros .img2 .img-nosotros, .main-nosotros .img1 .img-nosotros {
  box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
  -webkit-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
  -moz-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
}

.main-nosotros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 700px;
  padding: 20px;
  gap: 15px;
}
@media only screen and (max-width: 450px) {
  .main-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
.main-nosotros h3 {
  color: white;
  font-family: oswald;
  font-size: 2.5rem;
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .main-nosotros h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 450px) {
  .main-nosotros h3 {
    font-size: 1rem;
  }
}
.main-nosotros .img1 {
  height: 70%;
  grid-column-start: 1;
  grid-column-end: 6;
}
@media only screen and (max-width: 450px) {
  .main-nosotros .img1 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.main-nosotros .img1 .img-nosotros {
  width: 100%;
  height: 100%;
}
.main-nosotros .img2 {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
  height: 80%;
}
@media only screen and (max-width: 450px) {
  .main-nosotros .img2 {
    grid-column: span 1;
    grid-row: span 1;
    width: 80%;
    height: 100%;
    margin-left: 50px;
    margin-bottom: 30px;
  }
}
.main-nosotros .img2 .img-nosotros {
  width: 100%;
  height: 80%;
}
.main-nosotros .img3 {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 5;
}
@media only screen and (max-width: 450px) {
  .main-nosotros .img3 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.main-nosotros .img3 .img-nosotros {
  width: 100%;
  height: 80%;
}
.main-nosotros .img4 {
  margin-top: 20px;
  grid-column-start: 2;
  grid-column-end: 5;
}
@media only screen and (max-width: 450px) {
  .main-nosotros .img4 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.main-nosotros .img4 .img-nosotros {
  width: 100%;
  height: 80%;
}
.main-nosotros .img5 {
  grid-column-start: 1;
  grid-column-end: 6;
}
@media only screen and (max-width: 450px) {
  .main-nosotros .img5 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.main-nosotros .img5 .img-nosotros {
  width: 100%;
  height: 80%;
}
.main-nosotros .img6 {
  grid-column-start: 2;
  grid-column-end: 6;
}
@media only screen and (max-width: 450px) {
  .main-nosotros .img6 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.main-nosotros .img6 .img-nosotros {
  width: 100%;
  height: 80%;
}

.main-servicios p, .main-promociones .img-tarj, .main-promociones .img-promo, .main-nosotros .img1 .img-nosotros, .main-nosotros .img2 .img-nosotros, .main-nosotros .img3 .img-nosotros, .main-nosotros .img4 .img-nosotros, .main-nosotros .img5 .img-nosotros {
  box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
  -webkit-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
  -moz-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
}

.main-promociones {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.main-promociones div h4 {
  margin-top: 15px;
  font-size: 2.5rem;
}
.main-promociones div .h4toques {
  margin: 15px;
}
.main-promociones div .h4toques .enla-turnos:hover {
  transform: scale(2);
  transition-property: all;
  transition-duration: 2s;
}
.main-promociones div .h4toques a {
  text-decoration: underline;
  color: blue;
}
.main-promociones div ul li {
  margin: 15px;
}
.main-promociones p {
  color: white;
}
.main-promociones .tex-promo {
  text-align: center;
}
.main-promociones .img-promo {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin-top: 20px;
  border: solid white;
}
.main-promociones .img-tarj {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding: 20px;
  margin-top: 15px;
}

.main-servicios p, .main-nosotros .img1 .img-nosotros, .main-nosotros .img2 .img-nosotros, .main-nosotros .img3 .img-nosotros, .main-nosotros .img4 .img-nosotros, .main-nosotros .img5 .img-nosotros, .main-promociones .img-promo, .main-promociones .img-tarj {
  box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
  -webkit-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
  -moz-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
}

.main-servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.main-servicios div h3 {
  margin: 50px;
  line-height: 30px;
  font-size: 2.5rem;
  font-family: oswald;
}
@media only screen and (max-width: 450px) {
  .main-servicios div h3 {
    font-size: 1rem;
    line-height: 15px;
    margin: 15px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .main-servicios div h3 {
    font-size: 1rem;
    line-height: 15px;
    margin: 15px;
    padding-bottom: 10px;
  }
}
.main-servicios video {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 40px;
}
.main-servicios p {
  text-align: center;
  margin-left: 15px;
}

.main-turnos {
  display: flex;
  margin: 30px;
  padding: 30px;
}
.main-turnos .ap-flotante {
  position: fixed;
  right: 10px;
  bottom: 550px;
  width: 200px;
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .main-turnos .ap-flotante .flot {
    width: 100%;
    height: 50%;
  }
}
@media only screen and (max-width: 450px) {
  .main-turnos .ap-flotante {
    width: 100px;
    bottom: 200px;
  }
  .main-turnos .ap-flotante .flot {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-turnos .ap-flotante p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1rem;
  }
}
.main-turnos .ap-flotante .flot {
  width: 100%;
}
.main-turnos .turnos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main-turnos .turnos video {
  margin-bottom: 20px;
  height: 100%;
  width: 70%;
  border: solid blue;
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .main-turnos .turnos video {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .main-turnos .turnos video {
    width: 100%;
  }
}
.main-turnos .turnos .img-turnos1 {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 450px) {
  .main-turnos .turnos .img-turnos1 {
    padding-bottom: 30px;
  }
}
.main-turnos .turnos .img-turnos2 {
  height: 70%;
  width: 80%;
}
@media only screen and (max-width: 450px) {
  .main-turnos .turnos .img-turnos2 {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.main-turnos .turnos .img-turnos3 {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 450px) {
  .main-turnos .turnos .img-turnos3 {
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 450px) {
  .main-turnos {
    margin: 10px;
    padding: 10px;
  }
}
.main-turnos .consultas {
  width: 400px;
  height: 100%;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: oswald;
  color: white;
  box-shadow: 7px 13px 37px;
}
@media only screen and (max-width: 450px) {
  .main-turnos .consultas {
    width: 90%;
    height: 100%;
  }
}
.main-turnos .consultas h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.main-turnos .consultas p {
  height: 40px;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}
.main-turnos .consultas a {
  color: white;
}
.main-turnos .consultas a:hover {
  text-decoration: underline;
}
.main-turnos .consultas .control {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: oswald;
  font-size: 18px;
  color: white;
}
.main-turnos .consultas .boton {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
@media only screen and (max-width: 450px) {
  .main-turnos .consultas .boton {
    padding: 0px;
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
