html {
    font-size: 62.5%;
    /*1rem*/
}

* {
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-size: 2rem;
}

.texto-serv {
    display: flex;
    margin-top: 10%;
}

body {

    background-color: black;
}
/* body nostros.html */
.bnosotros{
   

}





.main-contenedor {
    display: flex;
    /* border: solid 1px white; */
    height: 800px;

}

.video {
    display: flex;
    /* border: solid 1px green; */
    padding-left: 300px;
    padding-right: 300px;
    padding-top: auto;
    padding-bottom: auto;
}


/*formato de listado cabecera*/
.nav-1 li {
    list-style: none;
    display: inline-block;
    padding: 0.5% 1% 0.5% 1%;
    font-size: 2rem;
    margin: 0% 6% 0% 1%;
    /*background-color: rgb(38, 36, 36);*/
    text-align: center;
    /* border: solid 1px white; */
}

a {
    text-decoration: none;
    color: white;
}

/*nav del inicio*/
.nav-1 {
    /*position: absolute;*/
    display: flex;
    position: fixed;
    right: 0%;
    left: 50%;
    width: 50%;
    display: inline;
    font-family: 'Oswald', sans-serif;
    /*background-color: none;*/
    /* border: solid 1px white; */
    margin-top: 10px;
}

.nav-1 li {
    background: gray;
}

.nav-1 ul {
    display: flex;
    justify-content: space-around;



}

.heder-contenedor {
    /* display: flex; */
    height: 100px;
    /* border: solid green; */


}

.titulo {
    margin-left: 5%;
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-top: px;
    /* border: solid white; */
}

/*menu lateral */
.div-colum {
    /* border: solid 1px white; */
    display: flex;
    align-items: center;

    /* margin-left: 0%;  */
    font-family: 'Oswald', sans-serif
}

/*navegador lateral*/
.nav-dos li {
    list-style: none;
    bottom: 50%;
    color: white;
    font-size: 3rem;
    padding: 50px;
    border: solid 1px white;
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background: gray;

}

.div-nav-dos {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;

}


/* imajenes logo tarjetas-promo*/
.imag-tarjetas {
    margin-left: 30%;
    padding-right: 10%;
    display: flex;
    width: 10%;
    height: 10%;
}

.div-tarjetas-promo {
    display: flex;
}

.img-index {
    margin-top: 10%;
    display: flex;
    justify-content: center;

}



.main-promociones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

/*imagenes de main en promociones */
.img-turnos {
    display: flex;
    width: 500px;
    height: 200px;
    padding-bottom: 5%;
}

/*img promos*/
.img {
    display: flex;
    padding: 5%;
}

.main-servicios {
    display: flex;
    margin-top: 10%;
}
/* git para nosotros.html */
 .main-nosotros {
    display: grid;

    
 }

/* {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-left: 20%;
} */ 

.main-nosotros-div {
    padding: 5%;
}

.main-turnos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15%;
    margin-right: 5%;
}

.p-footer {
border:    solid;
    padding: 3%;
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-contenedor {
    display: flex;
    /* position: absolute; */
    bottom: 0;
    /* height: 200%; */
    background-color: rgb(29, 27, 27);
    border: solid gold;
}

.div-footer {
/* border: solid green; */
    position: relative;
    display: flex;
justify-content: flex-end;


}
.div-div-footer{
    border: solid white;
    display: flex;
    
}

.fotito {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    padding-top: 10%;
    width: 20%;
    height: 50%;
}

.div-footer a{
    /* border: solid; */
    display: flex;
    
    justify-content: flex-end;
    width: 20%;
   
}
