.footer-contenedor{
   margin-top: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
     display: flex;
    justify-content: space-between;
    background: black;
    h4{
        padding-top: 10px;
        color: white;
        text-align: center;
    }

    .logo{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 50px;
    a{
        font-size: 20px;
        display: block;
    }
    }

    .nav-footer{
        margin-right: 15px;
        height: 100%;
        .lista-footer{
            @media only screen and (max-width:450px)
                    {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: auto;

                    }


            align-items: center;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            list-style: none;
            height: 100px;
            .fotito{
                width: 50px;
                padding-right: 15px;

            }
        }
    }
}
