.main-contenedor-index{
    .video-index{
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) ;
        z-index: -1; 
    }
    .nav-dos li{
        list-style: none;
        font-size: 3rem;
        font-size: nth($list: $tamano-texto, $n:4 );
        margin-top: 5%;
        font-family: oswald;
        display: flex;
        justify-content: center;
    
    }
    .nav-dos li a{
        padding-right: 10px ;
        padding-left: 10px;
        background: rgb(33, 31, 31);
        border-radius: 20px;
    }
}