@import "../base/mapas";
@import "../base/extend";
@import "../base/listas";

.main-nosotros{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 700px;
    padding: 20px;
    gap: 15px;
   



    @media only screen and (max-width:450px){
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 220px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    


    h3{
        @media only screen and (min-width:451px) and (max-width:960px){
            font-size: nth($tamano-texto, $n:2 )
        }
        @media only screen and (max-width:450px)
                    {
                        font-size: nth($tamano-texto, $n:1 );
                    //    margin-bottom: 25px;

                    }
        color: white;
         font-family: oswald;
         font-size: nth($tamano-texto, $n:3 );
       
    }

    .img1{

        @media only screen and (max-width:450px)
        {
            grid-column: span 1;
            grid-row: span 1;
        }

        height: 70%;
        grid-column-start: 1;
        grid-column-end: 6;
        .img-nosotros
    {
        width: 100%;
        height: 100%;
       @extend %marcos;
    }
    }
    .img2{
       
        @media only screen and (max-width:450px)
        {
            grid-column: span 1;
             grid-row: span 1;
             width: 80%;
             height: 100%;
             margin-left: 50px;
             margin-bottom: 30px;
         
        }
      
        grid-column-start: 3;
        grid-column-end: 4;
        width: 100%;
        height: 80%;

        .img-nosotros
        {
            width: 100%;
        height: 80%;
        @extend %marcos;
    }
    }
    .img3{
       
        @media only screen and (max-width:450px)
        {
            grid-column: span 1;
            grid-row: span 1;
        //    margin-bottom: 50px;
        //    margin-top: 20px;
           

        }
     
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 5;
        // grid-row: span ;

        .img-nosotros

        {
        width: 100%;
        height: 80%;
        @extend %marcos;
       
    }
    }
    .img4{ 
        @media only screen and (max-width:450px)
        {
            grid-column: span 1;
            grid-row: span 1;
        }
     margin-top: 20px;
        
    
        grid-column-start: 2;
        grid-column-end: 5;

        .img-nosotros
    {
            width: 100%;
        height: 80%;
        @extend %marcos;
    }
    }
    .img5{
        @media only screen and (max-width:450px)
        {
            grid-column: span 1;
            grid-row: span 1;
        }

       
        grid-column-start: 1;
        grid-column-end: 6;

        .img-nosotros
    {
            width: 100%;
        height: 80%;
        @extend %marcos;
    }
    }
    .img6{
        @media only screen and (max-width:450px)
        {
            grid-column: span 1;
            grid-row: span 1;
        }
        grid-column-start: 2;
        grid-column-end: 6;
        .img-nosotros
        {
            width: 100%;
        height: 80%;
        }
    }


}




