@import "../base/extend";
@import "../base/listas";

.main-promociones{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 20px;
    align-items: center;
    div{
        h4{
            margin-top: 15px;
            font-size: nth($tamano-texto, $n:3 );


        }
        h3{
            margin: 15px;
            .enla-turnos:hover{
                
                transform: scale(3);
                transition-property: all;
                transition-duration: 2s;

                
            }
            a{
                
                 text-decoration: underline;
                 color: blue;
                
            }

        }
        ul{

            li{
                margin: 15px;
            }
        }
    }
    p{
        color: white;
    }
    .tex-promo{
        text-align: center;

    }
    .img-promo{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        margin-top: 20px;
        border: solid white;
        @extend %marcos;
        

    }
    .img-tarj{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        padding: 20px;
        margin-top: 15px;
        @extend %marcos;
       
    }
}