@import "../base/extend";

.main-servicios{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;


video{
    
    grid-column-start: 2;
    grid-column-end: 3;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 40px;
}
p{
    @extend %marcos;
    text-align: center;
    margin-left: 15px;
}
}