.main-servicios {

    display: flex;
    display: inline;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    margin-bottom: 10px;
   

    .contenedor-auto {
        width: 100%;
       

        .auto {
            width: 100%;
           
        }

    }

    .texto-serv {
        display: flex;
        margin-top: 10%;
        padding-left: 20px;

    }


}