%marcos{
    box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
    -webkit-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
    -moz-box-shadow: 25px -4px 22px 4px rgba(0, 49, 176, 0.75);
}